<nav class="login">
    <form action="/login" method="post">
        <h2 style="text-align: center; margin-top:1%;">Sign up to access app</h2>
        <br><br>
        <div class="parent" style="width: 50%; margin:auto;">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Jack">
        </div> <br>
         <input type="submit" value="Submit"> <br> <br> <span style="color: red;">{{err}}</span> 
      <!-----  <p> Don't have account <a href="/signup"><input type="button" class="btn btn-outline-success" value="SignUp"></a></p>
        --></div>
    </form>
</nav>